
nav ul {
    background-color: #c78168;
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    padding: 15px 25px;
}

nav ul li a {
    color: #f0e9e1;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    background-color: #7a665e;
    border-radius: 4px;
}